$color-black: #444;

* {
    margin: 0;
    padding: 0;
    font-family: 標楷體;
    box-sizing: border-box;
    color: $color-black;
}

body {
    // background-image: url(./img/version1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    // overflow: hidden;
}

#area-top {
    // opacity: 0.3;

    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 79vh;

    #title {
        padding: 39px 0;
        display: grid;
        grid-template-columns: 43% 48% 9%;

        #title-box {
            text-align: right;
            padding-right: 40px;

            #title-english {
                // width: 900px;
                width: 100%;
            }
            #title-chinese {
                text-align: right;
                // padding-right: 150px;
                padding-right: 10%;
                line-height: 0;
                font-size: 38px;
                font-weight: 200;
            }
        }

        #logo {
            padding-top: 10px;
            // width: 120px;
            width: 70%;
            transition: 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

#navbar {
    padding: 27px 0;
    text-align: center;

    .navbtn {
        display: inline-block;
        margin-right: 2%;
        position: relative;

        &:last-child {
            margin-right: 0;
        }

        > a {
            text-decoration: none;
            display: inline-block;
            padding: 9px 32px;
            font-size: 32px;
            color: white;
            transition: 0.5s;
    
            &:hover {
                transform: scale(1.05);
            }

            @media screen and (max-width: 1850px) {
                font-size: 30px;
                padding: 9px 18px;
            }
            @media screen and (max-width: 1550px) {
                font-size: 26px;
                padding: 9px 15px;
            }
            @media screen and (max-width: 1310px) {
                font-size: 24px;
                padding: 9px 10px;
            }
            @media screen and (max-width: 1180px) {
                font-size: 20px;
                padding: 9px 8px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 18px;
                padding: 9px 6px;
            }
        }

        &:nth-child(1) {
            background: #F8CA2D;

            a {
                color: $color-black;
            }
            .subnav {
                border-color: #F8CA2D;
            }
        }
        &:nth-child(2) {
            background: #F8822D;
        }
        &:nth-child(3) {
            background: #F8502D;
        }
        &:nth-child(4) {
            background: #E83A3C;

            .subnav {
                border-color: #E83A3C;
            }
        }
        &:nth-child(5) {
            background: #AF3493;
        }
        &:nth-child(6) {
            background: #D462AB;
        }
        &:nth-child(7) {
            background: #F896C9;

            a {
                color: $color-black;
            }
        }
        &:nth-child(8) {
            background: #FFCCDC;

            a {
                color: $color-black;
            }
        }

        &:hover .subnav {
            opacity: 1;
        }
    }

    .subnav {
        position: absolute;
        top: 55px;
        left: 20px;
        border-left: 2px solid #666;
        opacity: 0;
        transition: 0.5s;

        @media screen and (max-width: 1850px) {
            top: 50px;
        }
        @media screen and (max-width: 1550px) {
            top: 47px;
        }
        @media screen and (max-width: 1310px) {
        }
        @media screen and (max-width: 1180px) {
            top: 42px;
        }
        @media screen and (max-width: 1024px) {
            top: 40px;
            left: 10px;
        }
        
        > a {
            display: block;
            font-size: 22px;
            text-decoration: none;
            font-weight: 0;
            padding: 6px 12px;
            transition: 0.5s;

            &:hover {
                transform: scale(1.05);
            }

            @media screen and (max-width: 1850px) {
                font-size: 20px;
            }
            @media screen and (max-width: 1550px) {
                font-size: 16px;
            }
            @media screen and (max-width: 1310px) {
                font-size: 14px;
            }
            @media screen and (max-width: 1180px) {
                font-size: 10px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 8px;
            }
        }
    }
}

#content {
    height: 300px;
}

footer {
    background: #297096;
    text-align: center;
    color: white;
    font-family: 微軟正黑體;
    padding: 30px;
    font-size: 12px;
}