$color-black: #444;

* {
    margin: 0;
    padding: 0;
    font-family: 標楷體;
    box-sizing: border-box;
    color: $color-black;
}

body {
    // background-image: url(./img/version3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    // overflow: hidden;
}

#area-top {
    // opacity: 0.5;

    background-image: url(./img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 106vh;

    @media screen and (max-width: 1850px) {
        height: 116vh;
    }
    @media screen and (max-width: 1600px) {
        height: 113vh;
    }
    @media screen and (max-width: 1300px) {
        height: 100vh;
    }

    #title {
        padding: 100px 0;
        display: grid;
        grid-template-columns: 36% 64%;

        #title-box {
            padding-right: 40px;

            #title-english {
                width: 100%;
            }
            #title-chinese {
                padding-top: 10px;
                padding-left: 70px;
                line-height: 0;
                letter-spacing: 10px;
                color: white;
                font-size: 1.9vw;
                font-weight: 500;
                font-family: 微軟正黑體 ;
            }
        }
    }
}

#navbar {
    // opacity: 0.6;

    position: absolute;
    top: 0;
    left: 6vw;
    padding: 27px 0;
    text-align: center;
    height: 106vh;
    background: #2D4583;
    box-shadow: 2px 0px 50px rgba(0, 0, 50, 0.8);

    #logo {
        width: 6vw;
        transition: 0.5s;
        box-shadow: 0 5px 10px rgba(0, 0, 50, 0.8);
        border-radius: 50%;

        &:hover{
            transform: scale(1.05);
        }
    }

    .navbtn {
        display: block;
        position: relative;
        padding-top: 25px;
        padding-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            top: 100px;
            left: 0;
            transform: translateX(10%);
            width: 80%;
            height: 2px;
            background: #222;
            border-bottom: 2px solid #ccc;
        }

        &:nth-last-of-type(1) {
            &::after {
                width: 0;
            }
        }

        &:nth-of-type(1) {
            margin-top: 0;
        }

        > a {
            text-decoration: none;
            display: inline-block;
            padding: 9px 32px;
            font-size: 32px;
            color: white;
            transition: 0.5s;
            cursor: pointer;
            font-family: 微軟正黑體;
            font-weight: 600;
            letter-spacing: 5px;
            width: 100%;
    
            &:hover {
                background: #FF9E14;
            }
        }

        &:hover .subnav {
            opacity: 1;
        }
    }

    .subnav {
        position: absolute;
        top: 25px;
        right: -200px;
        background: #FF9E14;
        border-radius: 0 10px 10px 0;
        box-shadow: 2px -5px 30px rgba(0, 0, 50, 0.5);
        opacity: 0;
        transition: 0.5s;
        
        > a {
            display: block;
            color: white;
            font-size: 30px;
            text-decoration: none;
            font-weight: 0;
            padding: 10px 30px;
            transition: 0.5s;
            border-bottom: 1px solid white;
            font-family: 微軟正黑體;
            

            &:hover {
                color: #2D4583;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    @media screen and (max-width: 1850px) {
        height: 116vh;
    }
    @media screen and (max-width: 1600px) {
        height: 113vh;
    }
    @media screen and (max-width: 1300px) {
        height: 100vh;

        .navbtn a {
            font-size: 24px !important;
        }
    }
}

footer {
    position: relative;
    width: 100%;
    background: white;
    text-align: center;
    color: #297096;
    font-family: 微軟正黑體;
    padding: 30px;
    font-size: 12px;
    z-index: 2;
}