@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 標楷體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

#area-top {
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 79vh;
}

#area-top #title {
  padding: 39px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 43% 48% 9%;
      grid-template-columns: 43% 48% 9%;
}

#area-top #title #title-box {
  text-align: right;
  padding-right: 40px;
}

#area-top #title #title-box #title-english {
  width: 100%;
}

#area-top #title #title-box #title-chinese {
  text-align: right;
  padding-right: 10%;
  line-height: 0;
  font-size: 38px;
  font-weight: 200;
}

#area-top #title #logo {
  padding-top: 10px;
  width: 70%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#area-top #title #logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#navbar {
  padding: 27px 0;
  text-align: center;
}

#navbar .navbtn {
  display: inline-block;
  margin-right: 2%;
  position: relative;
}

#navbar .navbtn:last-child {
  margin-right: 0;
}

#navbar .navbtn > a {
  text-decoration: none;
  display: inline-block;
  padding: 9px 32px;
  font-size: 32px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#navbar .navbtn > a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1850px) {
  #navbar .navbtn > a {
    font-size: 30px;
    padding: 9px 18px;
  }
}

@media screen and (max-width: 1550px) {
  #navbar .navbtn > a {
    font-size: 26px;
    padding: 9px 15px;
  }
}

@media screen and (max-width: 1310px) {
  #navbar .navbtn > a {
    font-size: 24px;
    padding: 9px 10px;
  }
}

@media screen and (max-width: 1180px) {
  #navbar .navbtn > a {
    font-size: 20px;
    padding: 9px 8px;
  }
}

@media screen and (max-width: 1024px) {
  #navbar .navbtn > a {
    font-size: 18px;
    padding: 9px 6px;
  }
}

#navbar .navbtn:nth-child(1) {
  background: #F8CA2D;
}

#navbar .navbtn:nth-child(1) a {
  color: #444;
}

#navbar .navbtn:nth-child(1) .subnav {
  border-color: #F8CA2D;
}

#navbar .navbtn:nth-child(2) {
  background: #F8822D;
}

#navbar .navbtn:nth-child(3) {
  background: #F8502D;
}

#navbar .navbtn:nth-child(4) {
  background: #E83A3C;
}

#navbar .navbtn:nth-child(4) .subnav {
  border-color: #E83A3C;
}

#navbar .navbtn:nth-child(5) {
  background: #AF3493;
}

#navbar .navbtn:nth-child(6) {
  background: #D462AB;
}

#navbar .navbtn:nth-child(7) {
  background: #F896C9;
}

#navbar .navbtn:nth-child(7) a {
  color: #444;
}

#navbar .navbtn:nth-child(8) {
  background: #FFCCDC;
}

#navbar .navbtn:nth-child(8) a {
  color: #444;
}

#navbar .navbtn:hover .subnav {
  opacity: 1;
}

#navbar .subnav {
  position: absolute;
  top: 55px;
  left: 20px;
  border-left: 2px solid #666;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1850px) {
  #navbar .subnav {
    top: 50px;
  }
}

@media screen and (max-width: 1550px) {
  #navbar .subnav {
    top: 47px;
  }
}

@media screen and (max-width: 1180px) {
  #navbar .subnav {
    top: 42px;
  }
}

@media screen and (max-width: 1024px) {
  #navbar .subnav {
    top: 40px;
    left: 10px;
  }
}

#navbar .subnav > a {
  display: block;
  font-size: 22px;
  text-decoration: none;
  font-weight: 0;
  padding: 6px 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .subnav > a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1850px) {
  #navbar .subnav > a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1550px) {
  #navbar .subnav > a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1310px) {
  #navbar .subnav > a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1180px) {
  #navbar .subnav > a {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  #navbar .subnav > a {
    font-size: 8px;
  }
}

#content {
  height: 300px;
}

footer {
  background: #297096;
  text-align: center;
  color: white;
  font-family: 微軟正黑體;
  padding: 30px;
  font-size: 12px;
}
/*# sourceMappingURL=style1.css.map */