@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-black: #444;

* {
    margin: 0;
    padding: 0;
    font-family: 標楷體;
    box-sizing: border-box;
    color: $color-black;
}

body {
    // background-image: url(./img/version2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#area-top {
    // opacity: 0.5;

    background-image: url(./img/bg2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    // background-position: 0 -10px;
    height: 95vh;
    width: 100%;
    position: relative;

    #title {
        position: absolute;
        bottom: 430px;
        background: $color-black;
        width: 100%;
        height: 50px;
        z-index: 2;

        #title-box {
            position: absolute;
            bottom: 0px;
            padding-left: 56px;
            width: 100%;

            h2, div {
                display: inline-block;
            }

            #title-name {
                color: white;
                font-size: 4.9vw;
                letter-spacing: 2px;
                font-family: 'Roboto', sans-serif;
            }

            #title-year {
                color: #FF00A0;
                font-size: 6.9vw;
                letter-spacing: 5px;
                font-weight: 900;
                font-family: 'Roboto', sans-serif;
            }

            #title-sub {
                text-align: center;
                position: relative;
                padding-left: 20px;
                width: 30vw;
                height: 300px;

                #title-anniversary {
                    font-size: 3.6vw;
                    letter-spacing: 2px;
                    font-family: 'Roboto', sans-serif;
                    vertical-align: bottom;
                    position: absolute;
                    bottom: 0px;
                }

                #title-chinese {
                    color: white;
                    font-family: 微軟正黑體;
                    font-size: 1.7vw;
                    font-weight: 400;
                    letter-spacing: 0.7vw;
                    position: absolute;
                    width: 25vw;
                    bottom: -25px;
                    left: 1.5vw
                }
            }

            #logo {
                position: absolute;
                right: 3vw;
                width: 6.5vw;
                bottom: 20px;
                transition: 0.3s;
    
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    
    @media screen and (max-width: 1880px) {
        // height: 130vh;
        background-size: 110%;

        #title {
            top: 30vw;
        }
    }

    @media screen and (max-width: 1700px) {
        // height: 100vh;
        background-size: 100%;

        #title {
            top: 28vw;
        }

        #title-anniversary {
            bottom: 5px !important;
        }
    }

    @media screen and (max-width: 1600px) {
        // height: 100vh;
        background-size: 100%;

        #title {
            top: 26.5vw;
        }

        #title-anniversary {
            bottom: 10px !important;
        }
    }

    @media screen and (max-width: 1500px) {
        // height: 90vh;
        background-size: 100%;

        #title-anniversary {
            font-size: 3em !important;
        }
        #title-chinese {
            bottom: -15px !important;
        }
    }

    @media screen and (max-width: 1400px) {
        // height: 85vh;
        // background-size: 100%;
        background-position: 0 -50px;
    }

    @media screen and (max-width: 1380px) {
        #title-anniversary {
            font-size: 2.6em !important;
            bottom: 15px !important;
        }
        #title-chinese {
            bottom: -15px !important;
        }
    }

    @media screen and (max-width: 1280px) {
        // height: 75vh;
        background-size: 100%;

        #title-box {
            padding-bottom: 10px;
        }

        #title-name {
            font-size: 4vw !important;
        }
        #title-year {
            font-size: 6vw !important;
        }

        #title-anniversary {
            font-size: 2.3em !important;
            bottom: 10px !important;
        }
        #title-chinese {
            bottom: -10px !important;
            left: 0.5vw !important;
        }
    }

    @media screen and (max-width: 1150px) {
        // height: 70vh;
    }

    @media screen and (max-width: 1024px) {
        // height: 60vh;
    }
}

#navbar {
    padding: 27px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -2vw;

    @media screen and (max-width: 1880px) {
        top: 31vw;
    }
    @media screen and (max-width: 1700px) {
        top: 28vw;
    }
    @media screen and (max-width: 1600px) {
        top: 28vw;
    }
    @media screen and (max-width: 1400px) {
        top: 28vw;
    }

    .row {
        display: grid;
        grid-template-columns: auto 19% 19% 19% 19% auto;

        > div {
            mix-blend-mode: multiply;
            display: grid;
            align-items: center;
        }

        &:nth-child(1) {
            > div {
                &:nth-child(odd) {
                    background: #9CCEBD;
                }
                &:nth-child(even) {
                    background: #FFEB41;
                }
            }
        }
        &:nth-child(2) {
            > div {
                &:nth-child(even) {
                    background: #9CCEBD;
                }
                &:nth-child(odd) {
                    background: #FFEB41;
                }
            }
        }

        a {
            color: $color-black;
            font-size: 2.8em;
            list-style: 2px;
            font-weight: 900;
        }
    }

    .navbtn {
        display: inline-block;
        position: relative;
        height: 12vw;

        @media screen and (max-width: 1880px) {
            height: 13vw;
        }
        @media screen and (max-width: 1700px) {
            height: 11vw;
        }
        @media screen and (max-width: 1600px) {
            height: 11.5vw;
        }
        @media screen and (max-width: 1400px) {
            height: 8vw;
        }

        &:last-child {
            margin-right: 0;
        }

        > a {
            text-decoration: none;
            display: inline-block;
            padding: 9px 32px;
            transition: 0.5s;
            cursor: pointer;
            font-size: 2vw;
    
            &:hover {
                transform: scale(1.05);
            }
        }

        &:hover .subnav {
            opacity: 1;
            display: block;
        }

        &.navhavesub {
            align-items: center;
            align-content: center;
        }

        &.navhavesub:hover {
            > a {
                opacity: 0;
                display: none;
            }
        }
    }

    .subnav {
        display: none;
        opacity: 0;
        transition: 0.5s;
        
        > a {
            display: block;
            font-size: 22px;
            text-decoration: none;
            font-weight: 0;
            padding: 3px 12px;
            transition: 0.5s;
            font-family: 微軟正黑體;
            

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

footer {
    background: white;
    text-align: center;
    color: #297096;
    font-family: 微軟正黑體;
    display: grid;
    align-items: center;
    font-size: 12px;
    height: 5vh;
}